*{
    margin: 0px;
    padding: 0px;
}
header{
    display :flex;
    justify-content:space-between;
    align-items: center;

}
.div1{
    display:flex;
    justify-content:space-around;
    font-size: 20px;
    gap: 50px;
    align-items: center;
    font-weight: bold;
    

}
a{
    text-decoration: none;
      color: black ;
}
a:hover{
    color: #2f15d8;
}
button{
    font-size: large;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-right: 20px;
    color: #1825b6;
    background-color: #ffffff;
}
 main{
    height: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #FF671F;
    

 }  
.div2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.img2{
    border-radius: 20px;
}
p{
    font-size: large;
}
.color{
    color: rgb(51, 100, 173);
    
}
.content{
    display:inline-block;
}
footer {
    background-color: #046A38;
    color: #fff;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: inherit;
}

.footer-section {
    margin-right: 200px;
    padding: 20px;
}
.footer-section1{
    margin: 10px;
    padding-right: 100px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #3498db;
}

.play-store-btn img {
    width: 120px; 
    height: auto;
    margin-right: 10px;
}
.pg2{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    background-color:white ;
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    gap :20px;
}
.box2{
    background-color:white ;
    border-radius: 20px;
    padding: 20px;
}
.ag{
    border-radius: 10px;
    padding: 5px;
}